.linux {
    font-family: sans-serif;
    background: #e5ebfd02;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
form {
    margin: 3rem auto 0;
    width: 24rem;
}
form div {
    width: inherit;
    margin-bottom: 1rem;
}
form label {
    display: block;
    color: #fff;
}
form input, form select, form textarea {
    margin: 0.5rem 0;
    padding: 0.5rem;
    width: inherit;
    height: 2rem;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}
form input[type="submit"] {
    height: 2.5rem;
    font-size: 1rem;
    color: #fff;
    background: #0971f1;
    cursor: pointer;
}
form textarea {
    height: 5rem;
}
#home{
    margin-top: 5px;
}