.listItem {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 1, 2, 0.918);
    height: 130vh;
}
  
h3 {
    text-align: center;
}
  
.topping {
    margin-top: 0.3rem;
    vertical-align: text-bottom;
}
  
.result {
    margin-top: 1rem;
}
  
.toppings-list,
  .total {
    width: 30%;
    margin: 0 auto;
}
  
.toppings-list {
    list-style: none;
    padding: 0;
}
  
.toppings-list li {
    margin-bottom: 0.5rem;
}
  
.toppings-list-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid rgb(9, 27, 131);
    border-radius: 10px;
    min-width: 400px;
    padding: 5px;
    color: darkturquoise;
    .left-section {
        font-size: 20px; 
    }
}

.description {
    padding-left: 50px;
    font-size: 15px;
    color: gray;
}
  
.toppings-list-item label {
    vertical-align: text-bottom;
    margin-left: 0.2rem;
}
  
.total {
    margin-top: 1rem;
}
